<h1>Ship your package!</h1>

<form action="/output">
  <div class="form-group">
    <div class="form-group">
      <label for="side_one">Parcel length:</label>
      <input id="side_one" name="side_one" type="text">
    </div>
    <div class="form-group">
      <label for="side_two">Parcel width:</label>
      <input id="side_two" name="side_two" type="text">
    </div>
    <div class="form-group">
      <label for="side_three">Parcel height:</label>
      <input id="side_three" name="side_three" type="text">
    </div>
    <div class="form-group">
      <label for="parcel_weight">Parcel Weight:</label>
      <input id="parcel_weight" name="parcel_weight" type="text">
    </div>
  </div>
<button type="submit" class="btn">Go!</button>
</form>
